/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #2a0338;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header .mdl-layout__header-row {
  padding-left: 40px;
}

.container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.layout.is-small-screen .content {
  padding: 40px 28px;
}

.content h3 {
  margin-top: 48px;
}

.footer {
  padding-left: 40px;
}

.footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

google-map {
  height: 600px;
  margin: 0;
}

.mdl-cell {
  display: inline-block;
}

#google-map-wrapper {
  margin: 0;
}

.mdl-button--fab {
  height: 36px;
  width: 36px;
  min-width: 36px;
}

paper-dialog.paper-dialog-0 h2 {
  padding: 7px;
  margin-top: 0;
}

paper-dialog p {
  padding: 5px;
}

#loading {
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  -webkit-transition: margin-top 0.5s ease;
  -moz-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
}

#loading-bar {
  width: 100vw;
}

paper-material.content {
  margin-bottom: 0;
}

#prevPage {
  display: none;
}

google-chart {
  height: 300px;
  width: 50em;
}

.mdl-button--fab.mdl-button--colored {
  background: #2a0338;
}

#logo-img {
  margin-top: -60px;
  margin-left: -40px;
}

.inline-block {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

#add-new-expense {
  vertical-align: bottom;
}

#error-toast>span {
  cursor: pointer;
}

html /deep/ paper-toast {
  z-index: 99999999;
}
.button-container {
  display: inline-block;
}
.button-container>* {
  display: block;
  margin-top: 3px;
}